/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* * {
    outline: 1px solid green;
    margin: 0;
    padding: 0;
} */

html {
    box-sizing:border-box;
}
    
 *,
*::before, 
*::after {
    box-sizing: inherit;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}


.container {
    width: 1110px;
    margin: 0 auto;
}

.products-list {
    margin-bottom: 65px;
}

.page-header {
    margin-top: 30px;
    margin-bottom: 85px;
}

.navigation-area li {
    float: left;
}

.navigation-area a {
    display: block;
    float: left;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 36px;
    text-decoration: none;
    color: #0f0101;
}

.logo {
    font-weight: 300;
    font-size: 30px;
}

.logo:before {
    content: "m";
    color: #1abc9c;
    font-weight: 800;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 466px;
    float: right;
    list-style: none;
}
.navigation-list li {
    float: left;
}

.navigation-list a {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #0f0101;
}

.navigation-list a:hover {
    color: #1abc9c;
}

.navigation-list li:not(:last-child) {
    margin-right: 30px;
}

.title-of {
    display: block;
}

.title-of {
    text-transform: uppercase;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    color: #515151;
    text-align: center;
    margin-bottom: 90px;
}

.title-of::after {
    display: block;
    width: 165px;
    height: 8px;
    content: '';
    background: #1abc9c;
    margin: 0 auto;
}

.shop-items-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0px;
    text-transform: uppercase;
}

.shop-items-list li {
    float: left;
    background: #e9f0fd;
    width: 255px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.shop-items-list li:nth-of-type(4n){
    margin-right: 0;
}

.shop-items-list a {
    display: block;
    float: left;
    box-sizing: border-box;
}

.item-title {
    float: left;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    width: 200px;
    background: #323232;
    padding: 4px 25px;
}

.link:hover .item-title{
    background: #1abc9c;
}

.item-price {
    float: right;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    width: 55px;
    text-align: center;
    background: #8c8c8c;
    padding: 4px 5px;
}

.link:hover .item-price{
    background: #7fd9c7;
}

.news-list {
    margin: 0;
    padding: 0;
}

.news-item {
    box-sizing: content-box;
    list-style: none;
    float: left;
    width:350px;
}

.news-item:not(:last-of-type) {
    padding-right: 30px;
}

.news-item p {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -20;
    color: #555252;
}

.news-pict {
    display: block;
    padding-bottom: 14px;
}

.news-item-part {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -20;
    color: #555252;
    margin-bottom: 30px;
}

.news-item-part::after {
    display: block;
    text-align: left;
    width: 136px;
    height: 4px;
    content: '';
    background: #4ec6ab;
    margin-top: 14px;
}



.btn-read-more {
    display: inline-block;
    float: left;
    background-color: #4ec6ab;
    border: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #ffffff;
    width: 160px;
    height: 50px;
    border-radius: 3px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    
}

.btn-read-more:hover {
    background: #56887d;
}